// TimeLine.scss
$primary-blue: #6470E9;
$primary-pink: #E9647C;
$light-gray: #F4F5F9;
$text-gray: #42567A;
$border-color: rgba(66, 86, 122, 0.1);

.timeline {
    font-family: 'PT Sans', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    color: $text-gray;

    &__header {
        display: flex;
        position: relative;
        margin-bottom: 56px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 120px;
            background: linear-gradient(to bottom, $primary-blue, $primary-pink);
        }
    }

    &__title {
        font-size: 56px;
        font-weight: 700;
        margin-left: 78px;
        line-height: 120%;
        max-width: 353px;
    }

    &__circle-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 530px;
    }

    &__years {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;


    }

    &__year {
        font-size: 200px;
        font-weight: 700;
        opacity: 0.1;
        transition: all 0.5s ease;
        position: absolute;
        z-index: 1;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }

        &.active {
            opacity: 1;
        }
    }

    &__circle {
        position: relative;
        width: 530px;
        height: 530px;
        border-radius: 50%;
        border: 1px solid $border-color;
        transition: transform 0.5s ease;
        z-index: 99;
    }

    &__dot {
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: $text-gray;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        margin-top: -3px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 999;

        &:hover {
            width: 56px;
            height: 56px;
            margin-left: -28px;
            margin-top: -28px;
            background-color: white;
            border: 1px solid $border-color;
            display: flex;
            justify-content: center;
            align-items: center;


            .timeline__category {
                display: flex;

            }
        }

        &.active {
            width: 56px;
            height: 56px;
            margin-left: -28px;
            margin-top: -28px;
            background-color: white;
            border: 1px solid $border-color;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__category {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    &__category-number {
        font-size: 20px;
        font-weight: 400;

    }

    &__category-text {
        font-size: 14px;
        opacity: 0.6;
        position: absolute;
        color: #42567A;
        font-weight: bold;
        left: 40px;
    }

    &__slider-container {
        border-top: 1px solid $border-color;
        padding-top: 20px;
        position: relative;
    }


    &__pagination-text {
        font-size: 14px;
        opacity: 0.6;
    }

    &__slider {
        margin-top: 56px;
        position: relative;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    &__navigation {
        display: flex;
        position: absolute;
        top: -45px;
        right: 0;
    }

    &__nav-btn2 {
        min-width: 40px;
        height: 40px;
        border: 1px solid $border-color;
        // box-shadow: 0 0 10px #3878ee62;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // margin-left: 20px;
        transition: all 0.3s ease;


        &:hover {
            border-color: $text-gray;
        }

        &.disabled {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }
    }

    &__nav-btn {
        min-width: 40px;
        height: 40px;
        // border: 1px solid $border-color;
        box-shadow: 0 0 10px #3878ee62;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // margin-left: 20px;
        transition: all 0.3s ease;

        path {
            stroke: #3877EE;
        }

        &:hover {
            border-color: $text-gray;
        }

        &.disabled {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }
    }

    &__event {
        padding-right: 80px;
    }

    &__event-year {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 15px;
        color: $primary-blue;
    }

    &__event-description {
        font-size: 20px;
        line-height: 30px;
    }
}

.period__nav_mobile {
    display: none;
}

// Responsive styles
@media (max-width: 1200px) {
    .timeline {
        &__title {
            font-size: 46px;
            margin-left: 40px;
        }

        &__year {
            font-size: 150px;
        }

        &__circle {
            width: 400px;
            height: 400px;
        }
    }
}

@media (max-width: 991px) {
    .timeline {
        &__header {
            flex-direction: column;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__year {
            font-size: 120px;
        }

        &__circle {
            width: 350px;
            height: 350px;
        }
    }
}

@media (max-width: 767px) {
    .period__nav {
        display: none;
    }

    .period__nav_mobile {
        display: block;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 40px);

        &__title {
            font-size: 20px;
            margin: 0;
            margin-bottom: 50px;
        }

        &__header {


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0px;
                height: 0px;
                background: transparent;
            }
        }

        &__year {
            font-size: 60px;
        }

        &__circle {
            width: 300px;
            height: 300px;
            display: none;
        }

        &__event-year {
            font-size: 20px;
        }

        &__event-description {
            font-size: 16px;
            line-height: 24px;
        }

        &__nav-btn {
            display: none;
        }
    }

    .timeline__slider-container {
        padding-top: 0;
    }
    .timeline__years{
        align-items: baseline;
    }
}